root = true

[*]
# Standard properties
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{appxmanifest,asax,ascx,aspx,axaml,build,c,c++,cc,cginc,compute,cp,cpp,cs,cshtml,cu,cuh,cxx,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,master,mpp,mq4,mq5,mqh,nuspec,paml,razor,resw,resx,skin,tpp,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4


# Microsoft .NET properties

# StyleCop.Analyzer
dotnet_diagnostic.sa0001.severity = none
dotnet_diagnostic.sa0002.severity = none
dotnet_diagnostic.sa1000.severity = error
dotnet_diagnostic.sa1001.severity = error
dotnet_diagnostic.sa1002.severity = error
dotnet_diagnostic.sa1003.severity = error
dotnet_diagnostic.sa1004.severity = error
dotnet_diagnostic.sa1005.severity = none
dotnet_diagnostic.sa1006.severity = error
dotnet_diagnostic.sa1007.severity = none
dotnet_diagnostic.sa1008.severity = error
dotnet_diagnostic.sa1009.severity = error
dotnet_diagnostic.sa1010.severity = error
dotnet_diagnostic.sa1011.severity = error
dotnet_diagnostic.sa1012.severity = error
dotnet_diagnostic.sa1013.severity = error
dotnet_diagnostic.sa1014.severity = error
dotnet_diagnostic.sa1015.severity = error
dotnet_diagnostic.sa1016.severity = error
dotnet_diagnostic.sa1017.severity = error
dotnet_diagnostic.sa1018.severity = error
dotnet_diagnostic.sa1019.severity = error
dotnet_diagnostic.sa1020.severity = error
dotnet_diagnostic.sa1021.severity = error
dotnet_diagnostic.sa1022.severity = error
dotnet_diagnostic.sa1023.severity = error
dotnet_diagnostic.sa1024.severity = error
dotnet_diagnostic.sa1025.severity = error
dotnet_diagnostic.sa1026.severity = error
dotnet_diagnostic.sa1027.severity = error
dotnet_diagnostic.sa1028.severity = error
dotnet_diagnostic.sa1100.severity = error
dotnet_diagnostic.sa1101.severity = error
dotnet_diagnostic.sa1102.severity = error
dotnet_diagnostic.sa1103.severity = error
dotnet_diagnostic.sa1104.severity = error
dotnet_diagnostic.sa1105.severity = error
dotnet_diagnostic.sa1106.severity = error
dotnet_diagnostic.sa1107.severity = none
dotnet_diagnostic.sa1108.severity = error
dotnet_diagnostic.sa1109.severity = error
dotnet_diagnostic.sa1110.severity = error
dotnet_diagnostic.sa1111.severity = error
dotnet_diagnostic.sa1112.severity = error
dotnet_diagnostic.sa1113.severity = error
dotnet_diagnostic.sa1114.severity = error
dotnet_diagnostic.sa1115.severity = error
dotnet_diagnostic.sa1116.severity = error
dotnet_diagnostic.sa1117.severity = error
dotnet_diagnostic.sa1118.severity = none
dotnet_diagnostic.sa1119.severity = error
dotnet_diagnostic.sa1120.severity = error
dotnet_diagnostic.sa1121.severity = error
dotnet_diagnostic.sa1122.severity = error
dotnet_diagnostic.sa1123.severity = none
dotnet_diagnostic.sa1124.severity = none
dotnet_diagnostic.sa1125.severity = error
dotnet_diagnostic.sa1126.severity = error
dotnet_diagnostic.sa1127.severity = none
dotnet_diagnostic.sa1128.severity = none
dotnet_diagnostic.sa1129.severity = none
dotnet_diagnostic.sa1130.severity = error
dotnet_diagnostic.sa1131.severity = error
dotnet_diagnostic.sa1132.severity = error
dotnet_diagnostic.sa1133.severity = error
dotnet_diagnostic.sa1134.severity = error
dotnet_diagnostic.sa1135.severity = error
dotnet_diagnostic.sa1136.severity = error
dotnet_diagnostic.sa1137.severity = error
dotnet_diagnostic.sa1139.severity = none
dotnet_diagnostic.sa1141.severity = error
dotnet_diagnostic.sa1142.severity = error
dotnet_diagnostic.sa1200.severity = none
dotnet_diagnostic.sa1201.severity = none
dotnet_diagnostic.sa1202.severity = none
dotnet_diagnostic.sa1203.severity = error
dotnet_diagnostic.sa1204.severity = error
dotnet_diagnostic.sa1205.severity = error
dotnet_diagnostic.sa1206.severity = none
dotnet_diagnostic.sa1207.severity = error
dotnet_diagnostic.sa1208.severity = error
dotnet_diagnostic.sa1209.severity = none
dotnet_diagnostic.sa1210.severity = error
dotnet_diagnostic.sa1211.severity = error
dotnet_diagnostic.sa1212.severity = error
dotnet_diagnostic.sa1213.severity = error
dotnet_diagnostic.sa1214.severity = error
dotnet_diagnostic.sa1215.severity = error
dotnet_diagnostic.sa1216.severity = error
dotnet_diagnostic.sa1217.severity = error
dotnet_diagnostic.sa1300.severity = error
dotnet_diagnostic.sa1301.severity = none
dotnet_diagnostic.sa1302.severity = error
dotnet_diagnostic.sa1303.severity = error
dotnet_diagnostic.sa1304.severity = error
dotnet_diagnostic.sa1305.severity = error
dotnet_diagnostic.sa1306.severity = none
dotnet_diagnostic.sa1307.severity = error
dotnet_diagnostic.sa1308.severity = error
dotnet_diagnostic.sa1309.severity = error
dotnet_diagnostic.sa1310.severity = suggestion
dotnet_diagnostic.sa1311.severity = error
dotnet_diagnostic.sa1312.severity = error
dotnet_diagnostic.sa1313.severity = error
dotnet_diagnostic.sa1314.severity = error
dotnet_diagnostic.sa1316.severity = none
dotnet_diagnostic.sa1400.severity = error
dotnet_diagnostic.sa1401.severity = error
dotnet_diagnostic.sa1402.severity = error
dotnet_diagnostic.sa1403.severity = error
dotnet_diagnostic.sa1404.severity = error
dotnet_diagnostic.sa1405.severity = error
dotnet_diagnostic.sa1406.severity = error
dotnet_diagnostic.sa1407.severity = none
dotnet_diagnostic.sa1408.severity = error
dotnet_diagnostic.sa1409.severity = error
dotnet_diagnostic.sa1410.severity = error
dotnet_diagnostic.sa1411.severity = error
dotnet_diagnostic.sa1412.severity = none
dotnet_diagnostic.sa1413.severity = error
dotnet_diagnostic.sa1414.severity = error
dotnet_diagnostic.sa1500.severity = error
dotnet_diagnostic.sa1501.severity = error
dotnet_diagnostic.sa1502.severity = error
dotnet_diagnostic.sa1503.severity = error
dotnet_diagnostic.sa1504.severity = error
dotnet_diagnostic.sa1505.severity = error
dotnet_diagnostic.sa1506.severity = error
dotnet_diagnostic.sa1507.severity = error
dotnet_diagnostic.sa1508.severity = error
dotnet_diagnostic.sa1509.severity = error
dotnet_diagnostic.sa1510.severity = error
dotnet_diagnostic.sa1511.severity = error
dotnet_diagnostic.sa1512.severity = error
dotnet_diagnostic.sa1513.severity = error
dotnet_diagnostic.sa1514.severity = error
dotnet_diagnostic.sa1515.severity = suggestion
dotnet_diagnostic.sa1516.severity = error
dotnet_diagnostic.sa1517.severity = error
dotnet_diagnostic.sa1518.severity = none
dotnet_diagnostic.sa1519.severity = error
dotnet_diagnostic.sa1520.severity = error
dotnet_diagnostic.sa1600.severity = none
dotnet_diagnostic.sa1601.severity = none
dotnet_diagnostic.sa1602.severity = none
dotnet_diagnostic.sa1603.severity = none
dotnet_diagnostic.sa1604.severity = none
dotnet_diagnostic.sa1605.severity = none
dotnet_diagnostic.sa1606.severity = none
dotnet_diagnostic.sa1607.severity = none
dotnet_diagnostic.sa1608.severity = none
dotnet_diagnostic.sa1609.severity = none
dotnet_diagnostic.sa1610.severity = none
dotnet_diagnostic.sa1611.severity = none
dotnet_diagnostic.sa1612.severity = none
dotnet_diagnostic.sa1613.severity = none
dotnet_diagnostic.sa1614.severity = none
dotnet_diagnostic.sa1615.severity = none
dotnet_diagnostic.sa1616.severity = none
dotnet_diagnostic.sa1617.severity = none
dotnet_diagnostic.sa1618.severity = none
dotnet_diagnostic.sa1619.severity = none
dotnet_diagnostic.sa1620.severity = none
dotnet_diagnostic.sa1621.severity = none
dotnet_diagnostic.sa1622.severity = none
dotnet_diagnostic.sa1623.severity = none
dotnet_diagnostic.sa1624.severity = none
dotnet_diagnostic.sa1625.severity = none
dotnet_diagnostic.sa1626.severity = none
dotnet_diagnostic.sa1627.severity = none
dotnet_diagnostic.sa1628.severity = none
dotnet_diagnostic.sa1629.severity = error
dotnet_diagnostic.sa1630.severity = none
dotnet_diagnostic.sa1631.severity = none
dotnet_diagnostic.sa1632.severity = none
dotnet_diagnostic.sa1633.severity = none
dotnet_diagnostic.sa1634.severity = none
dotnet_diagnostic.sa1635.severity = none
dotnet_diagnostic.sa1636.severity = none
dotnet_diagnostic.sa1637.severity = none
dotnet_diagnostic.sa1638.severity = none
dotnet_diagnostic.sa1639.severity = none
dotnet_diagnostic.sa1640.severity = none
dotnet_diagnostic.sa1641.severity = none
dotnet_diagnostic.sa1642.severity = none
dotnet_diagnostic.sa1643.severity = none
dotnet_diagnostic.sa1644.severity = none
dotnet_diagnostic.sa1645.severity = none
dotnet_diagnostic.sa1646.severity = none
dotnet_diagnostic.sa1647.severity = none
dotnet_diagnostic.sa1648.severity = none
dotnet_diagnostic.sa1649.severity = error
dotnet_diagnostic.sa1650.severity = suggestion
dotnet_diagnostic.sa1651.severity = none
dotnet_diagnostic.sa1652.severity = none

dotnet_diagnostic.cs0067.severity = warning
dotnet_diagnostic.cs0078.severity = warning
dotnet_diagnostic.cs0108.severity = warning
dotnet_diagnostic.cs0109.severity = warning
dotnet_diagnostic.cs0114.severity = warning
dotnet_diagnostic.cs0162.severity = warning
dotnet_diagnostic.cs0164.severity = warning
dotnet_diagnostic.cs0168.severity = warning
dotnet_diagnostic.cs0169.severity = warning
dotnet_diagnostic.cs0183.severity = warning
dotnet_diagnostic.cs0184.severity = warning
dotnet_diagnostic.cs0197.severity = warning
dotnet_diagnostic.cs0219.severity = warning
dotnet_diagnostic.cs0252.severity = warning
dotnet_diagnostic.cs0253.severity = warning
dotnet_diagnostic.cs0414.severity = warning
dotnet_diagnostic.cs0420.severity = warning
dotnet_diagnostic.cs0464.severity = warning
dotnet_diagnostic.cs0465.severity = warning
dotnet_diagnostic.cs0469.severity = warning
dotnet_diagnostic.cs0612.severity = warning
dotnet_diagnostic.cs0618.severity = warning
dotnet_diagnostic.cs0628.severity = warning
dotnet_diagnostic.cs0642.severity = warning
dotnet_diagnostic.cs0649.severity = warning
dotnet_diagnostic.cs0652.severity = warning
dotnet_diagnostic.cs0657.severity = warning
dotnet_diagnostic.cs0658.severity = warning
dotnet_diagnostic.cs0659.severity = warning
dotnet_diagnostic.cs0660.severity = warning
dotnet_diagnostic.cs0661.severity = warning
dotnet_diagnostic.cs0665.severity = warning
dotnet_diagnostic.cs0672.severity = warning
dotnet_diagnostic.cs0675.severity = warning
dotnet_diagnostic.cs0693.severity = warning
dotnet_diagnostic.cs1030.severity = warning
dotnet_diagnostic.cs1058.severity = warning
dotnet_diagnostic.cs1066.severity = warning
dotnet_diagnostic.cs1522.severity = warning
dotnet_diagnostic.cs1570.severity = warning
dotnet_diagnostic.cs1571.severity = warning
dotnet_diagnostic.cs1572.severity = warning
dotnet_diagnostic.cs1573.severity = warning
dotnet_diagnostic.cs1574.severity = warning
dotnet_diagnostic.cs1580.severity = warning
dotnet_diagnostic.cs1581.severity = warning
dotnet_diagnostic.cs1584.severity = warning
dotnet_diagnostic.cs1587.severity = warning
dotnet_diagnostic.cs1589.severity = warning
dotnet_diagnostic.cs1590.severity = warning
dotnet_diagnostic.cs1591.severity = warning
dotnet_diagnostic.cs1592.severity = warning
dotnet_diagnostic.cs1710.severity = warning
dotnet_diagnostic.cs1711.severity = warning
dotnet_diagnostic.cs1712.severity = warning
dotnet_diagnostic.cs1717.severity = warning
dotnet_diagnostic.cs1723.severity = warning
dotnet_diagnostic.cs1911.severity = warning
dotnet_diagnostic.cs1957.severity = warning
dotnet_diagnostic.cs1981.severity = warning
dotnet_diagnostic.cs1998.severity = warning
dotnet_diagnostic.cs4014.severity = warning
dotnet_diagnostic.cs7022.severity = warning
dotnet_diagnostic.cs7023.severity = warning
dotnet_diagnostic.cs7095.severity = warning
dotnet_diagnostic.cs8073.severity = warning
dotnet_diagnostic.cs8094.severity = warning
dotnet_diagnostic.cs8123.severity = warning
dotnet_diagnostic.cs8321.severity = warning
dotnet_diagnostic.cs8383.severity = warning
dotnet_diagnostic.cs8416.severity = warning
dotnet_diagnostic.cs8417.severity = warning
dotnet_diagnostic.cs8424.severity = warning
dotnet_diagnostic.cs8425.severity = warning
dotnet_diagnostic.cs8509.severity = warning
dotnet_diagnostic.cs8524.severity = warning
dotnet_diagnostic.cs8597.severity = warning
dotnet_diagnostic.cs8600.severity = warning
dotnet_diagnostic.cs8601.severity = warning
dotnet_diagnostic.cs8602.severity = warning
dotnet_diagnostic.cs8603.severity = warning
dotnet_diagnostic.cs8604.severity = warning
dotnet_diagnostic.cs8605.severity = warning
dotnet_diagnostic.cs8607.severity = warning
dotnet_diagnostic.cs8608.severity = warning
dotnet_diagnostic.cs8609.severity = warning
dotnet_diagnostic.cs8610.severity = warning
dotnet_diagnostic.cs8611.severity = warning
dotnet_diagnostic.cs8612.severity = warning
dotnet_diagnostic.cs8613.severity = warning
dotnet_diagnostic.cs8614.severity = warning
dotnet_diagnostic.cs8615.severity = warning
dotnet_diagnostic.cs8616.severity = warning
dotnet_diagnostic.cs8617.severity = warning
dotnet_diagnostic.cs8618.severity = error
dotnet_diagnostic.cs8619.severity = warning
dotnet_diagnostic.cs8620.severity = warning
dotnet_diagnostic.cs8621.severity = warning
dotnet_diagnostic.cs8622.severity = warning
dotnet_diagnostic.cs8624.severity = warning
dotnet_diagnostic.cs8625.severity = warning
dotnet_diagnostic.cs8629.severity = warning
dotnet_diagnostic.cs8631.severity = warning
dotnet_diagnostic.cs8632.severity = warning
dotnet_diagnostic.cs8633.severity = warning
dotnet_diagnostic.cs8634.severity = warning
dotnet_diagnostic.cs8643.severity = warning
dotnet_diagnostic.cs8644.severity = warning
dotnet_diagnostic.cs8645.severity = warning
dotnet_diagnostic.cs8655.severity = warning
dotnet_diagnostic.cs8656.severity = warning
dotnet_diagnostic.cs8667.severity = warning
dotnet_diagnostic.cs8669.severity = warning
dotnet_diagnostic.cs8670.severity = warning
dotnet_diagnostic.cs8714.severity = warning
dotnet_diagnostic.cs8762.severity = warning
dotnet_diagnostic.cs8763.severity = warning
dotnet_diagnostic.cs8764.severity = warning
dotnet_diagnostic.cs8765.severity = warning
dotnet_diagnostic.cs8766.severity = warning
dotnet_diagnostic.cs8767.severity = warning
dotnet_diagnostic.cs8768.severity = warning
dotnet_diagnostic.cs8769.severity = warning
dotnet_diagnostic.cs8770.severity = warning
dotnet_diagnostic.cs8774.severity = warning
dotnet_diagnostic.cs8775.severity = warning
dotnet_diagnostic.cs8776.severity = warning
dotnet_diagnostic.cs8777.severity = warning
dotnet_diagnostic.cs8794.severity = warning
dotnet_diagnostic.cs8819.severity = warning
dotnet_diagnostic.cs8824.severity = warning
dotnet_diagnostic.cs8825.severity = warning
dotnet_diagnostic.cs8846.severity = warning
dotnet_diagnostic.cs8847.severity = warning
dotnet_diagnostic.cs8851.severity = warning
dotnet_diagnostic.cs8860.severity = warning
dotnet_diagnostic.cs8892.severity = warning
dotnet_diagnostic.cs8907.severity = warning
dotnet_diagnostic.cs8947.severity = warning
dotnet_diagnostic.cs8960.severity = warning
dotnet_diagnostic.cs8961.severity = warning
dotnet_diagnostic.cs8962.severity = warning
dotnet_diagnostic.cs8963.severity = warning
dotnet_diagnostic.cs8965.severity = warning
dotnet_diagnostic.cs8966.severity = warning
dotnet_diagnostic.cs8971.severity = warning
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.event_rule.import_to_resharper = as_predefined
dotnet_naming_rule.event_rule.severity = warning
dotnet_naming_rule.event_rule.style = upper_camel_case_style
dotnet_naming_rule.event_rule.symbols = event_symbols
dotnet_naming_rule.interfaces_rule.import_to_resharper = as_predefined
dotnet_naming_rule.interfaces_rule.severity = warning
dotnet_naming_rule.interfaces_rule.style = i_upper_camel_case_style
dotnet_naming_rule.interfaces_rule.symbols = interfaces_symbols
dotnet_naming_rule.locals_rule.import_to_resharper = as_predefined
dotnet_naming_rule.locals_rule.severity = warning
dotnet_naming_rule.locals_rule.style = lower_camel_case_style
dotnet_naming_rule.locals_rule.symbols = locals_symbols
dotnet_naming_rule.local_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.local_constants_rule.severity = warning
dotnet_naming_rule.local_constants_rule.style = lower_camel_case_style
dotnet_naming_rule.local_constants_rule.symbols = local_constants_symbols
dotnet_naming_rule.local_functions_rule.import_to_resharper = as_predefined
dotnet_naming_rule.local_functions_rule.severity = warning
dotnet_naming_rule.local_functions_rule.style = upper_camel_case_style
dotnet_naming_rule.local_functions_rule.symbols = local_functions_symbols
dotnet_naming_rule.method_rule.import_to_resharper = as_predefined
dotnet_naming_rule.method_rule.severity = warning
dotnet_naming_rule.method_rule.style = upper_camel_case_style
dotnet_naming_rule.method_rule.symbols = method_symbols
dotnet_naming_rule.parameters_rule.import_to_resharper = as_predefined
dotnet_naming_rule.parameters_rule.severity = warning
dotnet_naming_rule.parameters_rule.style = lower_camel_case_style
dotnet_naming_rule.parameters_rule.symbols = parameters_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.property_rule.import_to_resharper = as_predefined
dotnet_naming_rule.property_rule.severity = warning
dotnet_naming_rule.property_rule.style = upper_camel_case_style
dotnet_naming_rule.property_rule.symbols = property_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.public_fields_rule.severity = warning
dotnet_naming_rule.public_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols = public_fields_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.types_and_namespaces_rule.import_to_resharper = as_predefined
dotnet_naming_rule.types_and_namespaces_rule.severity = warning
dotnet_naming_rule.types_and_namespaces_rule.style = upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols = types_and_namespaces_symbols
dotnet_naming_rule.type_parameters_rule.import_to_resharper = as_predefined
dotnet_naming_rule.type_parameters_rule.severity = warning
dotnet_naming_rule.type_parameters_rule.style = t_upper_camel_case_style
dotnet_naming_rule.type_parameters_rule.symbols = type_parameters_symbols
dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.t_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix = T
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.event_symbols.applicable_accessibilities = *
dotnet_naming_symbols.event_symbols.applicable_kinds = event
dotnet_naming_symbols.interfaces_symbols.applicable_accessibilities = *
dotnet_naming_symbols.interfaces_symbols.applicable_kinds = interface
dotnet_naming_symbols.locals_symbols.applicable_accessibilities = *
dotnet_naming_symbols.locals_symbols.applicable_kinds = local
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_constants_symbols.applicable_kinds = local
dotnet_naming_symbols.local_constants_symbols.required_modifiers = const
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_functions_symbols.applicable_kinds = local_function
dotnet_naming_symbols.method_symbols.applicable_accessibilities = *
dotnet_naming_symbols.method_symbols.applicable_kinds = method
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.parameters_symbols.applicable_kinds = parameter
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.property_symbols.applicable_accessibilities = *
dotnet_naming_symbols.property_symbols.applicable_kinds = property
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities = *
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds = namespace,class,struct,enum,delegate
dotnet_naming_symbols.type_parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.type_parameters_symbols.applicable_kinds = type_parameter
